.slider h3,
.slider h5,
.clients h3 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
}

.parallax-container {
    height: 20%;
}

.parallax img {
    filter: grayscale(1);
    /* gmau ini kemungkinan karena dia sudah punya opacity sendiri jd gabisa di timpa, caranya kalo kita mau maksa css kita supaya jalan itu gampangnya
    kita kasih !important.. ini juga berlaku untuk bootstrap kalo udah nyobain kasih class pake css sendiri terus ga jalan nah itu kemungkinan si
    bootstrapnya punya property yg sama jd bentrok, nah supaya yg kita yg dipilih tambahin !important */
    opacity: 0.5 !important;
}

.gambarsaya {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.clients img {
    max-width: 150px;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,.8))
}

section, footer {
    padding: 20px 0;
}